.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: $light-mint;
    color: white;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
}

.modal__title {
    color: #ffffff;
    margin-top: -5%;
}

.modal__body {
    margin-bottom: 3%;
    border: 1px solid $light-gray;
}

.modal__input {
    background: white;
    border: none;
    color: $dark-blue;
    border-bottom: .3rem solid darken($off-white, 10%);
    flex-grow: 1;
    margin-right: $s-size;
    padding: $s-size;
}
.button:hover {
    color: #ffffff;
    background: #20bf6b;
    border: 1px solid #20bf6b;
}