.navigator {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
    text-decoration: none;
    &:visited, ::after {
        text-decoration: none;
    }
}

.naviMenu0 {
    width: 60%;
    grid-column: 1/2;
    color: $blue;
    font-weight: bold;
    transition: 0.5s ease 0s;
    text-decoration: none;
    &:hover {
        padding: 2%;
        text-align: center;
        color: #224183;
        font-weight:bold;
        border:2px solid #224183;
        width: 60%;
        border-radius:12px;
        height: 35px;

    }

}
.naviMenu1 {
    width: 60%;
    grid-column: 2/3;
    color: $blue;
    font-weight: bold;
    transition: 0.5s ease 0s;
    &:hover {
        padding: 2%;
        color: #224183;
        font-weight:bold;
        text-align: center;
        border:2px solid #224183;
        border-radius:12px;
        width: 60%;
        height: 35px;
    }
}

.naviMenu2 {
    width: 60%;
    grid-column: 3/4;
    color: $blue;
    font-weight: bold;
    transition: 0.5s ease 0s;
    &:hover {
        padding: 2%;
        text-align: center;
        color: #224183;
        font-weight:bold;
        border:2px solid #224183;
        border-radius:12px;
        width: 60%;
        height: 35px;

    }
}

.is-active {
    padding: 2%;
    color: #224183;
    text-align: center;
    font-weight:bold;
    border:2px solid #224183;
    border-radius:12px;
    height: 35px;
    width: 60%;
}