body {
    color: $light-gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.SettingMod {
    margin: 0 auto;
}

h3 {
    color: $light-gray;
    margin-top: -5%;
}

.textbox {
    margin-bottom: 3%;
    border: 1px solid $light-gray;
}

.savebutton {
    float: right;
    padding: 2%;
    background: #535353;
    border: 1px solid darkgray;
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin-bottom: -5%;
}

.savebutton:hover {
    color: #ffffff;
    background: #20bf6b;
    border: 1px solid #20bf6b;;
}