  .Info {
    color: #ffffff;
    font-size: 12px;
    border: 1px solid;
    width: 100%;
    background: $blue;
    height: 48px;
  }

  .Data > .Subheading{
    float: left;
    color: #ffffff;
    margin-right: 1%;
    margin-left: 38%;
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.7%;
  }

  .ComboBox {
    width: 8%;
    font-size: 0.9em;
    float: left;
    margin-right: 1%;
  }

.StartDateTimePicker, .EndDateTimePicker {
    margin-right: 1%;
    margin-top: 0.35%;
    background: #ffffff;
    color: #000000;
  }

  .Swungdash {
    margin-right: 1%;
    color: #ffffff;
  }

  .Data {
    margin-left: 20%;
    margin-top: 0.2%;
  }

  #btnPeriod {
    padding : 0.5%;
    color: #0091EA;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #0091EA;
    transition: all 0.3s ease 0s;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
    margin-left: 1%;
    margin-top: 0.3%;
    &:hover {
    color: #ffffff;
    background: rgb(116, 202, 255);
    border-radius: 2px;
    border: 1px solid rgb(75, 181, 247);
    transition: all 0.3s ease 0s;
    }
  }
.SearchButton {
  padding : 8.5%;
  color: rgb(59, 230, 130);
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid rgb(59, 230, 130);
  transition: all 0.3s ease 0s;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  &:hover {
    color: #ffffff;
    background: rgb(59, 230, 130);
    border: 1px solid rgb(59, 230, 130);
    transition: all 0.3s ease 0s;
    }
}

@media screen and (max-width: 1425px) {
  .Data > .Subheading{
    margin-left: 34%;
  }
}

@media screen and (max-width: 1096px) {
  .Data > .Subheading{
    margin-left: 29%;
  }
  .SearchItem {
    transform: scale(0.8);
    margin-left: 15%;
  }
}