.SearchButton {
    padding : 0.5%;
    color: #0091EA;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #0091EA;
    transition: all 0.3s ease 0s;
    &:hover {
    color: #ffffff;
    background: rgb(116, 202, 255);
    border-radius: 2px;
    border: 1px solid rgb(75, 181, 247);
    transition: all 0.3s ease 0s;
    }
  }

  .Info {
    color: #ffffff;
    font-size: 12px;
    border: 1px solid;
    width: 100%;
    background-image: linear-gradient(to right,#2b5876, #4e4376);
    height: 45px;
  }

  .Subheading{
    float: left;
    margin-right: 1%;
  }

  .ComboBox {
    width: 8%;
    font-size: 10px;
    float: left;
    margin-right: 1%;
  }

.StartDateTimePicker, .EndDateTimePicker {
    margin-right: 1%;
    margin-top: 0.35%;
    background: #ffffff;
    color: #000000;
  }

  .Swungdash {
    margin-right: 1%;
    color: #ffffff;
  }

  .Data {
    margin-left: 20%;
    margin-top: 0.2%;
  }