.modal__title {
    color: #ffffff;
    margin-top: -5%;
}

.modal__body, .modal__input {
    margin-bottom: 3%;
    border: 1px solid $light-gray;
}

.button {
    float: right;
    padding: 2%;
    background: #535353;
    border: 1px solid darkgray;
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin-bottom: -5%;
}

.button:hover {
    color: #ffffff;
    background: #20bf6b;
    border: 1px solid #20bf6b;;
}