body {
  background: #d6d6d6;
  color: #696969;
  font-family: Verdana, 1em, sans-serif;
}
.FeaturesEntry {
  background-color: #d6d6d6;
margin-left: 5%;
  min-height: 100vh;
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 3%;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
}

.PaletteEntry {
    background-color: white;
    color: #3b3b3b;
    width: 27%;
    height: auto;
    min-height: 95vh;
    border-radius: 5px;
    float: left;
    padding: 1.5px;
    border: 1px solid darkgray;
    /* min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin); */
  }

.PaletteTitle {
  color: #696969;
  font-size: calc(10px + 2vmin); 
  margin-top: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center; 
}

.GraphEntry {
  background-color: white;
  color: #535353;
  width: 70%;
  height: auto;
  min-height: 95vh;
  border: 1px solid darkgray;
  border-radius: 5px;
  float: right;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
}
/* Palette Button */
.ButtonEntry {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
}

.ButtonEach {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  text-decoration: none;
}

.ButtonClick {
  background: #FF7474;
  border: 1px solid darkgray;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  width: 100%;
  height: 100%;
}

.ButtonDefault:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.ButtonDefault {
  background: #535353;
  border: 1px solid darkgray;
  border-radius: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* Palette Button */
/* Info CSS Start*/
.Subheading{
  color: #696969;
  margin: 5%;
  padding-bottom: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 1.5px solid darkgray;
}

.ComboBoxEnrty{
  height: 40px;
  margin-bottom: 4%;
}

.LevelLabel{
  float: left;
  margin-left: 7%;
  width: 16%;
  height: 100%;
  color: #696969;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ComboBox{
  float: right;
  margin-right: 7%;
  width: 63%;
  height: 100%;
}

.StartDateTimePicker, .EndDateTimePicker {
  left: 10%;
  width: 80%;
  height: auto;
}
@media (max-width: 1050px) {
  .StartDateTimePicker, .EndDateTimePicker {
    transform: scale(0.6);
    margin-left: -10%;
  }
}

@media (max-width: 550px) {
  .StartDateTimePicker, .EndDateTimePicker {
    transform: scale(0.4);
    margin-left: -20%;
  }
}

#Swungdash {
  text-align: center;
}

.SearchButton {
  float: right;
  padding : 1.5% 5% 1.5% 5%;
  margin : 4% 10%;
  color: #696969;
  background: #ffffff;
  border-radius: 6px;
  border-color: #535353;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}
.SearchButton:hover {
  color: #20bf6b;
  background: #ffffff;
  border: 2px solid #20bf6b;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}
.SearchButton:active {
  top: 1px;
}
/* Info CSS End*/


.FeatureButton {
  padding: 10px;
  margin: 0 0 2% 3%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  width: 45%;
  height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  background: #535353;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.FeatureButton:hover {
  background: rgb(143, 143, 143);
  }

/*Graph */
.Recommended {
  border: 1px solid darkgrey;
  border-radius: 5px;
  margin : 5% 2% 0% 2%;
  padding-left: 3%;
  background: #d6d6d6;
}

.Recommended button{
  width: 22%;
  height: 80px;
  padding: 1%;
  font-size: 0.5em;
  margin: 1%;
  padding-top: 12%;
}

.Recommended button:hover {
  transition: all 0.3s ease 0s;
  border: 2px solid rgb(252, 180, 180);
}
.SearchItem {
  margin: 5% 0% 0% 17%;
}
@media (max-width: 1100px) {
  .SearchItem {
    transform: scale(0.9);
    margin-left: -1%;
  }
}

@media (max-width: 850px) {
  .SearchItem {
    transform: scale(0.7);
  }
}

@media (max-width: 600px) {
  .SearchItem {
    transform: scale(0.4);
  }
}

.StackedColumn100 {
  background-image: url("images/Stackedcolum100.png");
  background-color: #ffffff;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center center;
  vertical-align: 50%;
  
}
.Table {
  background-image: url("images/table1.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
  border-radius: 15px;
  background-size: 30%;
  background-position: center center;
  vertical-align: bottom;
}

.Scatterplot {
  background-image: url("images/scatter1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  background-position: center center;
}

.Area {
  background-image: url("images/Area1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  background-position: center center;
}

.StackedArea {
  background-image: url("images/StackedArea1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  background-position: center center;
}

.Bar {
  background-image: url("images/bar1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  background-position: center center;
}

.StackedBar {
  background-image: url("images/Stackedbar1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  background-position: center center;
}

.StackedBar100 {
  background-image: url("images/100Stackedbar1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  background-position: center center;
}

.Biplot {
  background-image: url("images/biplot1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  background-position: center center;
}

.Boxplot {
  background-image: url("images/boxplot1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  background-position: center center;
}

.BubbleChart {
  background-image: url("images/BubbleChart1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  background-position: center center;
}

.Column {
  background-image: url("images/column1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  background-position: center center;
}

.StackedColumn {
  background-image: url("images/StackedColumn1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  background-position: center center;
}

.Heatmap {
  background-image: url("images/Heatmap1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  background-position: center center;
}

.StackedArea100 {
  background-image: url("images/100StackedArea1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  background-position: center center;
}

.Card {
  background-image: url("images/card1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  background-position: center center;
}

.ComplexChart {
  background-image: url("images/Complex Chart1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  background-position: center center;
}

.DecisionTree {
  background-image: url("images/Decision Tree1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  background-position: center center;
}
.graphbutton {
  margin-top: -1%;
  float: right;
  background: #535353;
  color: #ffffff;
  border: 1px solid;
}

.buttontext {
  visibility: hidden;
}
/*Graph */